{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 4,
  "useTabs": true,
  "semi": true,
  "printWidth": 100,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "jsxSingleQuote": true
}
