body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: #333;
}
.project-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem 5rem;
    display: flex;
    flex-direction: row;
}
.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.project-name {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5rem;
}
.project-description {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 1rem;
}
.project-language {
    font-size: 1rem;
    color: #777;
    margin-bottom: 1rem;
}
.project-image {
    max-width: 300px;
    max-height: 200px;
}
.project-links {
    display: flex;
    flex-wrap: wrap;
    }

.download-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 15px;
    }

.download-button:hover {
    background-color: #0056b3;
    }
#tuto {
    visibility: hidden;
}